<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>登入</title>
    </head>
    <body>
        {% if errors %}
            <li>
                {% for error in errors %}
                    <p style="color: red;">
                        {{error}}
                    </p>
                {% endfor %}
            </li>
        {% endif %}
        <h1>登入帳號</h1>
        <form action="" method="post">{% csrf_token %}
            <label for="account">account:</label>
            <input type="text" name="account" value="" id="account"> <br/>
            <label for="password">password:</label>
            <input type="password" name="password" value="" id="password"> <br/>
            <label for="fb_check">FB聲明:</label>
            <input type="radio" name="fb_check" value="yes" id="fb_check"> <br/>
            <input type="submit" value="登入"/>
        </form>
    </body>
</html>