<!DOCTYPE html>
<html lang="zh-Hant">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <link rel="icon" href="/static/img/opendds.png">

    <title>Dashboard Template for Bootstrap</title>
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/ie10-viewport-bug-workaround.css" rel="stylesheet">
    <link href="/static/css/iniUpdate.css" rel="stylesheet">
    <script src="/static/js/ie-emulation-modes-warning.js"></script>
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-header" id="reboot">
            <a class="navbar-brand" href="/">DDS</a>
            <button class="power-btn"  v-on:click="click_reboot"><img src="/static/img/power.png" class="power-img"></button>
        </div>
    </nav>
    <script>
        new Vue({
            el:'#reboot',
            methods:{
                click_reboot: function(){
                    if (window.confirm('確定要關機嗎？')) {
                        axios.post('/reboot', {status:'reboot'})
                        .then(function (response) {
                            console.log(response);
                            window.location.reload(true);
                        })
                        .catch(function (error) {
                            console.log(error);
                            window.location.reload(true);
                        });
                    }
                }
            }
        }); 
    </script>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-2 col-md-2 col-sm-3 col-xs-4 sidebar">
                <ul class="nav nav-sidebar">
                    <li class="active">
                        <a href="/">系統設定
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li><a href="ipSettingMain">IP 設定(內建網卡）</a></li>
                    <li><a href="ipSettingSecond">IP 設定(外接網卡）</a></li>
                    <li><a href="iniCreate">ini 建立</a></li>
                    <li><a href="iniUpdate">ini 列表及上傳</a></li>
                    <li><a href="ping">網路診斷</a></li>
                    <li><a href="logs">流量統計紀錄分析</a></li>
                    <li><a href="sendTest">傳輸測試</a></li>
                    <li><a href="rpiSetting">設定</a></li>
                </ul>
            </div>
            <div id="main" class="col-lg-10 col-lg-offset-2 col-md-10 col-md-offset-2 col-sm-9 col-sm-offset-3 col-xs-8 col-xs-offset-4 main">
                <h1 class="page-header">ini列表及上傳</h1>
                <h3>ini上傳</h3>
                <form action="/upload" method="post" enctype="multipart/form-data">
                    <input type="file" name="file" multiple="multiple">
                    <input type="submit" value="Upload">
                </form>
                <h3>ini列表</h3>
                <div class="panel panel-default">
                    <div class="panel-heading">操作說明</div>
                    <div class="panel-body">
                        <p>管理openDDS的ini檔:</p>
                        <p>（1）設定欄位之刪除按鈕，可將對應檔案刪除</p>
                    </div>
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>檔案名稱</th>
                                <th>檔案格式</th>
                                <th>設定</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for key in fileList %}
                            <tr>
                                <td>{{key.num}}</td>
                                <td>{{key.name}}</td>
                                <td>{{key.format}}</td>
                                <td><input type="button" value="刪除" v-on:click="click_delete('{{key.num}}');"></td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <script>
        var app = new Vue({
            el:'#main',
            methods: {
                click_delete: function(val) {
                    var data = JSON.parse('{{fileList|tojson|safe}}');
                    let file = (data[Number(val)].format != '' && data[Number(val)].format != '特殊檔案') ? data[Number(val)].name + '.' + data[Number(val)].format : data[Number(val)].name + '（特殊檔案或路徑)';
                    if (window.confirm('確定要刪除' + file + '嗎?')) {
                        let json_data = JSON.stringify({
                            filename: (data[Number(val)].format != '' && data[Number(val)].format != '特殊檔案') ? data[Number(val)].name + '.' + data[Number(val)].format : data[Number(val)].name
                        });
                        let send_data = JSON.parse(json_data);
                        axios.post('/deleteFile', send_data)
                        .then(function (data) {
                            console.log('success');
                            if (!alert(file + '檔案已刪除')) {
                                window.location.reload(true);
                            }
                        })
                        .catch(function (error) {
                            console.log('error');
                            alert(file + '檔案刪除失敗')
                            return false;
                        });
                    }
                }
            },
        });
    </script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/holder.min.js"></script>
    <script src="/static/js/ie10-viewport-bug-workaround.js"></script>
</body>

</html>