<!DOCTYPE html>
<html lang="zh-Hant">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <link rel="icon" href="/static/img/chat.png">
    
    <title>webim</title>
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/ie10-viewport-bug-workaround.css" rel="stylesheet">
    <link href="/static/css/index.css" rel="stylesheet">
    <script src="/static/js/ie-emulation-modes-warning.js"></script>
</head>
<body>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="navbar-header" id="logout">
            <span class="navbar-brand">聯絡人</span>
            <button class="power-btn" v-on:click="goout"><img src="/static/img/exit.png" class="power-img"></button>
        </div>
    </nav>
    <div class="container-fluid">
        <div class="row">
            <div id="main" class="col-lg-10 col-lg-offset-2 col-md-10 col-md-offset-1 col-sm-9 col-sm-offset-3 col-xs-8 col-xs-offset-4 main">
                <div>
                    {% for person in persons %}
                        <div v-on:click="gotoroom({{person.guid}})">
                            <h4><img src="/static/img/head.png" width="100" height="100"> {{person.phone}}</h4>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <script>
        new Vue({
            el:'#logout',
            methods:{
                goout: function(){
                    axios.post('/string/CustMsgService/Logout', {
                        headers: {
                            ContentType: "application/json",
                            Accept: "application/json"
                        },
                        status: "logout"
                    })
                    .then(function(response) {
                        console.log('success');
                        window.location.href='/';
                    })
                    .catch(function(error) {
                        console.log(error);
                    });
                }
            }
        }); 
        new Vue({
            el:'#main',
            methods:{
                gotoroom: function(person){
                    axios.post('/string/CustMsgService/GetMsg', {
                        headers: {
                            ContentType: "application/json",
                            Accept: "application/json"
                        },
                        person: person,
                        guid: {{guid}}
                    })
                    .then(function(response) {
                        console.log('success');
                        window.location.href='/string/CustMsgService/GetMsg';
                    })
                    .catch(function(error) {
                        console.log(error);
                    });
                }
            }
        }); 
    </script>
    <script src="/static/js/holder.min.js"></script>
    <script src="/static/js/ie10-viewport-bug-workaround.js"></script>
</body>
</html>