<!DOCTYPE html>
<html lang="zh-Hant">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <link rel="icon" href="/static/img/chat.png">
    
    <title>webim</title>
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/ie10-viewport-bug-workaround.css" rel="stylesheet">
    <link href="/static/css/index.css" rel="stylesheet">
    <script src="/static/js/ie-emulation-modes-warning.js"></script>
</head>
<body>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="navbar-header">
            <span class="navbar-brand">智能管家</span>
        </div>
    </nav>
    <div class="container-fluid">
        <div class="row">
            <div id="main" class="col-lg-10 col-lg-offset-2 col-md-10 col-md-offset-1 col-sm-9 col-sm-offset-3 col-xs-8 col-xs-offset-4 main">
                <div class="select-sty"><img style="display:block; margin:auto;" src="/static/img/chat.png"></div>
                <div class="select-sty">
                    <input type="text" v-model="check_1" style="width:800px;font-size:16px;padding:8px;border-radius:4px;" ref="account" placeholder="帳號">
                </div>
                <div class="select-sty">
                    <input type="text" v-model="check_2" style="width:800px;font-size:16px;padding:8px;border-radius:4px;" ref="passwd" placeholder="密碼">
                </div>
                <div class="select-sty" style="margin-bottom:40px">
                    <button class="btn btn-info" id="sendbtn" disabled="true" style="width:800px;height:40px;left:80px;" type="submit" v-on:click="send">送出</button>
                </div>
                <div class="select-sty" style="margin-bottom:40px">
                    <button class="btn btn-primary" style="width:800px;height:40px;left:80px;" type="submit" v-on:click="visitor">訪客</button>
                </div>
            </div>
        </div>
    </div>
    <script>
        new Vue({
            el:'#main',
            data: {
                check_1: '',
                check_2: '',
                // loginUrl: "https://itriptaiwan.megatime.com.tw/string/CustMsgService/ValidByAdapter"
                loginUrl: "/string/CustMsgService/ValidByAdapter"
            },
            watch: {
                'check_1': {
                    immediate: false,
                    handler() {
                        if(this.check_1 != '' & this.check_2 != ''){
                            document.getElementById('sendbtn').disabled=false;
                        } else if(this.check_1 == '' | this.check_2 == ''){
                            document.getElementById('sendbtn').disabled=true;
                        }
                    }
                },
                'check_2': {
                    immediate: false,
                    handler() {
                        if(this.check_1 != '' & this.check_2 != ''){
                            document.getElementById('sendbtn').disabled=false;
                        } else if(this.check_1 == '' | this.check_2 == ''){
                            document.getElementById('sendbtn').disabled=true;
                        }
                    }
                }
            },
            methods:{
                send: function(){
                    account = this.$refs.account.value;
                    passwd = this.$refs.passwd.value;
                    axios.post(this.loginUrl, {
                        headers: {
                            ContentType: "application/json",
                            Accept: "application/json"
                        },
                        AppId: "StringDemo_Web",
                        Password: passwd,
                        Phone: account,
                        account_type: "member"
                    })
                    .then(function (response) {
                        console.log('success');
                        window.location.href='/string/CustMsgService/main';
                    })
                    .catch(function (error) {
                        console.log('error');
                        alert('帳號或密碼錯誤');
                    });
                },
                visitor: function(){
                    var randomAccount =
                        Math.random()
                            .toString(36)
                            .substring(2, 15) +
                        Math.random()
                            .toString(36)
                            .substring(2, 15);
                    var passwd = 0;
                    axios.post(this.loginUrl, {
                        headers: {
                            ContentType: "application/json",
                            Accept: "application/json"
                        },
                        AppId: "StringDemo_Web",
                        Password: passwd,
                        Phone: randomAccount,
                        account_type: "visitor"
                    })
                    .then(function (response) {
                        console.log('success');
                        window.location.href='/string/CustMsgService/GetMsg';
                    })
                    .catch(function (error) {
                        console.log('error');
                    });
                }
            }
        }); 
    </script>
    <script src="/static/js/holder.min.js"></script>
    <script src="/static/js/ie10-viewport-bug-workaround.js"></script>
</body>
</html>