<!DOCTYPE html>
<html lang="zh-Hant">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <link rel="icon" href="/static/img/chat.png">
    
    <title>webim</title>
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/ie10-viewport-bug-workaround.css" rel="stylesheet">
    <link href="/static/css/sendTest.css" rel="stylesheet">
    <script type="text/javascript" src="//cdn.bootcss.com/socket.io/1.5.1/socket.io.min.js"></script>
</head>
<body>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="navbar-header" id="logout">
            <button v-on:click="goback"><img src="/static/img/left.jpg" class="power-img"></button>
            <span class="navbar-brand">{{chat_name}}</span>
            <button class="power-btn" v-on:click="goout"><img src="/static/img/exit.png" class="power-img"></button>
        </div>
    </nav>
    <div class="container-fluid">
        <div class="row">
            <div id="main" class="col-lg-10 col-lg-offset-2 col-md-10 col-md-offset-1 col-sm-9 col-sm-offset-3 col-xs-8 col-xs-offset-4 main">
                <div id="chatroom"></div>
                <div class="row message-sty">
                    <div class="message-list">
                        <ul class="message-list-sty" id="listA"></ul>
                    </div>
                    <div class="send ">
                        <div class="send-input-text">
                            <input class="send-input-text-sty" type="text" id="msg" ref="msg">
                        </div>
                        <div class="send-input-btn">
                            <input class="send-input-btn-sty" type="button" value="送出" id="send" v-on:click="send">
                            <div>
                                <input id="file" type="file" onchange="upload(this)" style="display:none">
                                <button type="button" onclick="file.click()"><img src="/static/img/upload.png" class="power-img"></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        window.onload = function () {
            var i = 0;
            // socket設定
            namespace = '/chat';
            var socket = io.connect(location.protocol + '//' + document.domain + ':' + location.port + namespace);
            socket.on('pub'+'{{guid}}', function (res) {
                var message = res;
                console.log(message);
                if (message) {
                    publishReturn(message, new Date().toLocaleString('en-US', { hour12: true, hour: 'numeric', minute: 'numeric' }));
                }
            });
            socket.on('{{guid}}', function (res) {
                var message = res;
                console.log(message);
                if (message) {
                    subscriberReceive(message, new Date().toLocaleString('en-US', { hour12: true, hour: 'numeric', minute: 'numeric' }));
                }
            });
            // 歷史紀錄(Flask傳到前端的紀錄)
            if ('{{msg}}' != []) {
                for (i=0; i<=i; i++) {
                    if ({{send_guid}}[i] == {{guid}}) {
                        publishReturn({{msg|tojson}}[i], {{time|tojson}}[i]);
                    } else if ({{send_guid}}[i] == {{chat_guid}}) {
                        subscriberReceive({{msg|tojson}}[i], {{time|tojson}}[i]);
                    } else {
                        break;
                    }
                };
            };
        };
        // 己方右側回傳, else if 的連結依Server端的設置改動。
        function publishReturn(msg, time) {
            let ul_A = document.getElementById("listA");
            let li_A = document.createElement("li");
            if (msg.indexOf("http://")!=-1 | msg.indexOf("https://")!=-1) {
                li_A.innerHTML = "<div class = 'message-a-to-a-sty'><div><a href=" + msg + " target='_blank'>" + msg + "</a></div><div><span style='font-size:xx-small';>" + time + "</span></div></div>";
            } else if (msg.indexOf("SHARE")!=-1) {
                li_A.innerHTML = "<div class = 'message-a-to-a-sty'><div><a href=/db/file_share/" + msg + " download='" + msg + "'>" + msg + "</a></div><div><span style='font-size:xx-small';>" + time + "</span></div></div>";
            } else {
                li_A.innerHTML = "<div class = 'message-a-to-a-sty'><div>" + msg + "</div><div><span style='font-size:xx-small';>" + time + "</span></div></div>";
            };
            ul_A.appendChild(li_A);
            ul_A.scrollTop = ul_A.scrollHeight;
        };
        // 對方左側傳送, else if 的連結依Server端的設置改動。
        function subscriberReceive(msg, time) {
            let ul_A = document.getElementById("listA");
            let li_A = document.createElement("li");
            if (msg.indexOf("http://")!=-1 | msg.indexOf("https://")!=-1) {
                li_A.innerHTML = "<div class = 'message-b-to-a-sty'><div><a href=" + msg + " target='_blank'>" + msg + "</a></div><br><div><span style='font-size:xx-small';>" + time + "</span></div></div>";
            } else if (msg.indexOf("SHARE")!=-1) {
                li_A.innerHTML = "<div class = 'message-b-to-a-sty'><div><a href=/db/file_share/" + msg + " download='" + msg + "'>" + msg + "</a></div><br><div><span style='font-size:xx-small';>" + time + "</span></div></div>";
            } else {
                li_A.innerHTML = "<div class = 'message-b-to-a-sty'><div>" + msg + "</div><br><div><span style='font-size:xx-small';>" + time + "</span></div></div>";
            };
            ul_A.appendChild(li_A);
            ul_A.scrollTop = ul_A.scrollHeight;
        };
        function upload(uploadfile) {
            var file = uploadfile.files[0];
            // 傳檔案到後端一定要用Form
            let formObj = new FormData()
            if (!file) {
                return;
            };
            formObj.append('file', file);
            // 上傳檔案axios
            axios.post('/upload', formObj)
            .then(function (data) {
                console.log('success');
            })
            .catch(function (error) {
                console.log('error');
            });
            // 紀錄檔案axios
            time = new Date().toLocaleString('en-US', { hour12: true, hour: 'numeric', minute: 'numeric' });
            let message = {"time":time, "message": 'SHARE:'+file.name, "guid":{{guid}}, "chat_guid":{{chat_guid}}};
            axios.post('/sendmsg', message)
            .then(function (data) {
                console.log('success');
            })
            .catch(function (error) {
                console.log('error');
            });
            //上傳後將檔案清除
            uploadfile.value = '';
        };
        new Vue({
            el:'#main',
            methods:{
                send: function() {// 發送按鈕
                    msg_text = this.$refs.msg.value;
                    time = new Date().toLocaleString('en-US', { hour12: true, hour: 'numeric', minute: 'numeric' });
                    let message = {"time":time, "message": msg_text, "guid":{{guid}}, "chat_guid":{{chat_guid}}};
                    axios.post('/sendmsg', message)
                    .then(function (data) {
                        console.log('success');
                    })
                    .catch(function (error) {
                        console.log('error');
                    });
                    msg.value = "";
                }
            }
        });
        new Vue({
            el:'#logout',
            methods:{
                goout: function(){// 登出按鈕
                    axios.post('/string/CustMsgService/Logout', {
                        headers: {
                            ContentType: "application/json",
                            Accept: "application/json"
                        },
                        status: "logout"
                    })
                    .then(function(response) {
                        console.log('success');
                        window.location.href='/';
                    })
                    .catch(function(error) {
                        console.log(error);
                    });
                },
                goback: function(){// 上一頁按鈕
                    axios.post('/string/CustMsgService/Back', {
                        headers: {
                            ContentType: "application/json",
                            Accept: "application/json"
                        },
                        status: "back",
                        guid: {{guid}}
                    })
                    .then(function(response) {
                        console.log('success');
                        window.location.href='/string/CustMsgService/main';
                    })
                    .catch(function(error) {
                        console.log(error);
                    });
                }
            }
        });
    </script>
    <script src="/static/js/holder.min.js"></script>
    <script src="/static/js/ie10-viewport-bug-workaround.js"></script>
</body>
</html>