<!DOCTYPE html>
<html lang="zh-Hant">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <link rel="icon" href="/static/img/opendds.png">

    <title>Dashboard Template for Bootstrap</title>
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/ie10-viewport-bug-workaround.css" rel="stylesheet">
    <link href="/static/css/ping.css" rel="stylesheet">
    <script src="/static/js/ie-emulation-modes-warning.js"></script>
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-header" id="reboot">
            <a class="navbar-brand" href="/">DDS</a>
            <button class="power-btn"  v-on:click="click_reboot"><img src="/static/img/power.png" class="power-img"></button>
        </div>
    </nav>
    <script>
        new Vue({
            el:'#reboot',
            methods:{
                click_reboot: function(){
                    if (window.confirm('確定要關機嗎？')) {
                        axios.post('/reboot', {status:'reboot'})
                        .then(function (response) {
                            console.log(response);
                            window.location.reload(true);
                        })
                        .catch(function (error) {
                            console.log(error);
                            window.location.reload(true);
                        });
                    }
                }
            }
        }); 
    </script>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-2 col-md-2 col-sm-3 col-xs-4 sidebar">
                <ul class="nav nav-sidebar">
                    <li class="active">
                        <a href="/">系統設定
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li><a href="ipSettingMain">IP 設定(內建網卡）</a></li>
                    <li><a href="ipSettingSecond">IP 設定(外接網卡）</a></li>
                    <li><a href="iniCreate">ini 建立</a></li>
                    <li><a href="iniUpdate">ini 列表及上傳</a></li>
                    <li><a href="ping">網路診斷</a></li>
                    <li><a href="logs">流量統計紀錄分析</a></li>
                    <li><a href="sendTest">傳輸測試</a></li>
                    <li><a href="rpiSetting">設定</a></li>
                </ul>
            </div>
            <div id="main" class="col-lg-10 col-lg-offset-2 col-md-10 col-md-offset-2 col-sm-9 col-sm-offset-3 col-xs-8 col-xs-offset-4 main">
                <h1 class="page-header">網路診斷</h1>
                <div>
                    WebSiteURL:
                    <input type="text" size="50" id="serverIp">
                </div>
                <div>
                    <input type="button" id="pingStart" v-on:click="pingStart" value="PingStart">
                    <input type="button" id="pingStop" v-on:click="pingStop" value="PingStop">
                    <input type="button" id="clearPingResultMsg" v-on:click="clearMsg" value="ClearPingResultMsg">
                </div>
                <div id="pingResultMsg"></div>
            </div>
        </div>
    </div>
    <script>
        var pingStatus = false;
        setInterval(function () {
            if (pingStatus) {
                ping()
            }
        }, 3000);
        function ping() {
            ip_text = document.getElementById("serverIp").value;
            data = {"ip":ip_text};
            axios.post('/ping', data)
            .then(function (data) {
                console.log(data.data);
                document.getElementById("pingResultMsg").innerHTML += data.data + "<br>";
            })
            .catch(function (error) {
                console.log(error);
                return false;
            });
        }
        var app = new Vue({
            el:'#main',
            methods: {
                pingStart: function() {
                    pingStatus = true;
                    console.log(pingStatus);
                },
                pingStop: function() {
                    pingStatus = false;
                    console.log(pingStatus);
                },
                clearMsg: function() {
                    serverIp.value = "";
                    document.getElementById("pingResultMsg").innerHTML = '';
                },
            },
        });
    </script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/holder.min.js"></script>
    <script src="/static/js/ie10-viewport-bug-workaround.js"></script>
</body>
</html>