<!DOCTYPE html>
<html lang="zh-Hant">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <link rel="icon" href="/static/img/opendds.png">

    <title>Dashboard Template for Bootstrap</title>
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/ie10-viewport-bug-workaround.css" rel="stylesheet">
    <link href="/static/css/rpiSetting.css" rel="stylesheet">
    <script src="/static/js/ie-emulation-modes-warning.js"></script>
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-header" id="reboot">
            <a class="navbar-brand" href="/">DDS</a>
            <button class="power-btn"  v-on:click="click_reboot"><img src="/static/img/power.png" class="power-img"></button>
        </div>
    </nav>
    <script>
        new Vue({
            el:'#reboot',
            methods:{
                click_reboot: function(){
                    if (window.confirm('確定要關機嗎？')) {
                        axios.post('/reboot', {status:'reboot'})
                        .then(function (response) {
                            console.log(response);
                            window.location.reload(true);
                        })
                        .catch(function (error) {
                            console.log(error);
                            window.location.reload(true);
                        });
                    }
                }
            }
        }); 
    </script>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-2 col-md-2 col-sm-3 col-xs-4 sidebar">
                <ul class="nav nav-sidebar">
                    <li class="active">
                        <a href="/">系統設定
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li><a href="ipSettingMain">IP 設定(內建網卡）</a></li>
                    <li><a href="ipSettingSecond">IP 設定(外接網卡）</a></li>
                    <li><a href="iniCreate">ini 建立</a></li>
                    <li><a href="iniUpdate">ini 列表及上傳</a></li>
                    <li><a href="ping">網路診斷</a></li>
                    <li><a href="logs">流量統計紀錄分析</a></li>
                    <li><a href="sendTest">傳輸測試</a></li>
                    <li><a href="rpiSetting">設定</a></li>
                </ul>
            </div>
            <div id="main" class="col-lg-10 col-lg-offset-2 col-md-10 col-md-offset-2 col-sm-9 col-sm-offset-3 col-xs-8 col-xs-offset-4 main">
                <h1 class="page-header">設定</h1>
                <h2>時間設定（現在時間:{{nowTime}}）</h2>
                <div class="setTime">
                    <div><br>
                        <p class="inline">（1）對時方式：</p>
                        <select id="dateMethod" name="dateMethod" v-model="change_dateMethod" ref="dateMethod">
                            <option value="manual">手動對時</option>
                            <option value="gps">GPS對時</option>
                            <option value="ntp">NTP對時</option>
                        </select>
                    </div>
                    <br>
                    <div class="date-set" v-show="seen_date">
                        <p class="inline">（2）日期設定：</p>
                        <input type="date" class="date" id="setDateVal" ref="setDateVal" name="date" /><br><br>
                        <p class="inline">（3）時間設定：</p>
                        <input type="time" class="date" id="setTimeVal" ref="setTimeVal" name="time" />
                    </div>
                    <div class="set-ntp-display" v-show="seen_ntp">
                        <p class="inline">（2）NTP設定：</p>
                        <input type="text" class="date" id="setNtpVal" ref="setNtpVal" name="ntp" placeholder="{{ntpVal}}" /><br>
                    </div>
                    <input class="btn btn-primary btn-lg btn-sty" type="button" v-on:click="time_send" id="setTime" value="送出" /><br><br><br>
                </div><br>
                <h2>Watch Dog 設定</h2>
                <div class="setWatchDog row"><br>
                    <div class="watch-dog-sty row">
                        <div class="col-lg-5 col-md-7 col-sm-12 col-xs-12">
                            <p class="inline">1分鐘 (建議需大於等於24且小於等於100)：</p>
                        </div>
                        <div class="col-lg-7 col-md-5 col-sm-12 col-xs-12 dev-text-sty">
                            <input type="number" id="setWatchDogVal1" placeholder="{{watchDogVal1}}" ref="watchDogVal1_text">
                            <button id="watchDogCancel1" v-on:click="setWatchDog1_cancel">取消</button>
                            <button id="setWatchDog1" v-on:click="setWatchDog1_send">送出</button>
                        </div>
                    </div><br>
                    <div class="watch-dog-sty row">
                        <div class="col-lg-5 col-md-7 col-sm-12 col-xs-12">
                            <p class="inline">5分鐘（建議需大於等於20且小於等於100)：</p>
                        </div>
                        <div class="col-lg-7 col-md-5 col-sm-12 col-xs-12 dev-text-sty">
                            <input type="number" id="setWatchDogVal5" placeholder="{{watchDogVal5}}" ref="watchDogVal5_text">
                            <button id="watchDogCancel5" v-on:click="setWatchDog5_cancel">取消</button>
                            <button id="setWatchDog5" v-on:click="setWatchDog5_send">送出</button>
                        </div>
                    </div><br>
                    <div class="watch-dog-sty row">
                        <div class="col-lg-5 col-md-7 col-sm-12 col-xs-12">
                            <p class="inline">15分鐘（建議需大於等於20且小於等於100)：</p>
                        </div>
                        <div class="col-lg-7 col-md-5 col-sm-12 col-xs-12 dev-text-sty">
                            <input type="number" id="setWatchDogVal15" placeholder="{{watchDogVal15}}" ref="watchDogVal15_text">
                            <button id="watchDogCancel15" v-on:click="setWatchDog15_cancel">取消</button>
                            <button id="setWatchDog15" v-on:click="setWatchDog15_send">送出</button>
                        </div>
                    </div><br>
                    <div class="watch-dog-sty row">
                        <div class="col-lg-5 col-md-7 col-sm-12 col-xs-12">
                            <p class="inline">CPU溫度（建議需大於等於40且小於等於100)：</p>
                        </div>
                        <div class="col-lg-7 col-md-5 col-sm-12 col-xs-12 dev-text-sty">
                            <input type="number" id="setWatchDogValTemp" placeholder="{{watchDogValTemp}}" ref="watchDogValTemp_text">
                            <button id="setWatchDogTemp" v-on:click="setWatchDogTemp_send">送出</button>
                        </div>
                    </div><br>
                </div>
            </div>
        </div>
    </div>
    <script>
        var app = new Vue({
            el:'#main',
            data: {
                seen_date: true,
                seen_ntp: false,
                change_dateMethod: 'manual',
            },
            watch: {
                'change_dateMethod': {
                    immediate: false,
                    handler() {
                        if(this.change_dateMethod == 'manual'){
                            this.seen_date = true;
                            this.seen_ntp = false;
                        } else if(this.change_dateMethod == 'gps'){
                            this.seen_date = false;
                            this.seen_ntp = false;
                        } else if(this.change_dateMethod == 'ntp'){
                            this.seen_date = false;
                            this.seen_ntp = true;
                        }
                    }
                }
            },
            methods: {
                time_send: function() {
                    dateMethod_text = this.$refs.dateMethod.value;
                    setDateVal_text = this.$refs.setDateVal.value;
                    setTimeVal_text = this.$refs.setTimeVal.value;
                    setNtpVal_text = this.$refs.setNtpVal.value;
                    let data = {"dateMethod":dateMethod_text, "date":setDateVal_text, "time":setTimeVal_text, "ntp":setNtpVal_text}
                    axios.post('/setRpiTime', data)
                    .then(function (data) {
                        console.log('success');
                        console.log(data.data);
                        if (!alert('已更新狀態：' + data.data.status)) {
                            window.location.reload(true);
                        }
                    })
                    .catch(function (error) {
                        console.log('error');
                        alert("更新失敗");
                        return false;
                    });
                },
                setWatchDog1_send: function() {
                    watchDogVal1_text = this.$refs.watchDogVal1_text.value;
                    let data = {"setWatchDogVal1":watchDogVal1_text};
                    axios.post('/setWatchDog1', data)
                    .then(function (data) {
                        console.log('success');
                        console.log(data.data);
                        if (!alert('已更新狀態：' + data.data.status)) {
                            window.location.reload(true);
                        }
                    })
                    .catch(function (error) {
                        console.log('error');
                        alert("更新失敗");
                        return false;
                    });
                },
                setWatchDog5_send: function() {
                    watchDogVal5_text = this.$refs.watchDogVal5_text.value;
                    let data = {"setWatchDogVal5":watchDogVal5_text};
                    axios.post('/setWatchDog5', data)
                    .then(function (data) {
                        console.log('success');
                        if (!alert('已更新狀態：' + data.data.status)) {
                            window.location.reload(true);
                        }
                    })
                    .catch(function (error) {
                        console.log('error');
                        alert("更新失敗");
                        return false;
                    });
                },
                setWatchDog15_send: function() {
                    watchDogVal15_text = this.$refs.watchDogVal15_text.value;
                    let data = {"setWatchDogVal15":watchDogVal15_text};
                    axios.post('/setWatchDog15', data)
                    .then(function (data) {
                        console.log('success');
                        if (!alert('已更新狀態：' + data.data.status)) {
                            window.location.reload(true);
                        }
                    })
                    .catch(function (error) {
                        console.log('error');
                        alert("更新失敗");
                        return false;
                    });
                },
                setWatchDogTemp_send: function() {
                    watchDogValTemp_text = this.$refs.watchDogValTemp_text.value;
                    let data = {"setWatchDogValTemp":watchDogValTemp_text};
                    axios.post('/setWatchDogTemp', data)
                    .then(function (data) {
                        console.log('success');
                        if (!alert('已更新狀態：' + data.data.status)) {
                            window.location.reload(true);
                        }
                    })
                    .catch(function (error) {
                        console.log('error');
                        alert("更新失敗");
                        return false;
                    });
                },
                setWatchDog1_cancel: function() {
                    let data = {status: 'stop'};
                    axios.post('/watchDogCancel1', data)
                    .then(function (data) {
                        console.log('success');
                        if (!alert('已更新狀態：' + data.data.status)) {
                            window.location.reload(true);
                        }
                    })
                    .catch(function (error) {
                        console.log('error');
                        alert("更新失敗");
                        return false;
                    });
                },
                setWatchDog5_cancel: function() {
                    let data = {status: 'stop'};
                    axios.post('/watchDogCancel5', data)
                    .then(function (data) {
                        console.log('success');
                        if (!alert('已更新狀態：' + data.data.status)) {
                            window.location.reload(true);
                        }
                    })
                    .catch(function (error) {
                        console.log('error');
                        alert("更新失敗");
                        return false;
                    });
                },
                setWatchDog15_cancel: function() {
                    let data = {status: 'stop'};
                    axios.post('/watchDogCancel15', data)
                    .then(function (data) {
                        console.log('success');
                        if (!alert('已更新狀態：' + data.data.status)) {
                            window.location.reload(true);
                        }
                    })
                    .catch(function (error) {
                        console.log('error');
                        alert("更新失敗");
                        return false;
                    });
                },
            },
        });
    </script>
    <script src="/static/js/bootstrap.min.js "></script>
    <script src="/static/js/holder.min.js "></script>
</body>
</html>